* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-items: center;
}

.header {
  text-align: center;
  margin: 0;
}

.game {
  display: grid;
  grid-template-rows: 2fr 1fr;
  touch-action: none;
  justify-items: center;
}

.board {
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  outline: 2px grey solid;
  touch-action: none;
}

.board .square {
  outline: 1px grey solid;
}

.filled {
  color: hsl(var(--hue) 100% 40%);
  background-color: currentColor;
  border: 0.8vh currentColor solid;
  border-color:
    hsl(var(--hue) 100% 65%)
    hsl(var(--hue) 100% 25%)
    hsl(var(--hue) 100% 25%)
    hsl(var(--hue) 100% 65%);
}

.user-pieces {
  height: 25vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  flex-direction: row;
  place-items: center;
}

.piece {
  display: grid;
}

.piece .square {
  height: 4vh;
  width: 4vh;
  border-width: 0.75vh;
}
