* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
}

.header {
  text-align: center;
  margin: 0;
}

.board {
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  outline: 2px grey solid;
}

.square {
  outline: 1px grey solid;
}

.filled {
  color: hsl(var(--hue) 100% 40%);
  background-color: currentColor;
  border: 0.8vh currentColor solid;
  border-color:
    hsl(var(--hue) 100% 65%)
    hsl(var(--hue) 100% 25%)
    hsl(var(--hue) 100% 25%)
    hsl(var(--hue) 100% 65%);
}

.user-pieces {
  height: 25vh;
}
