* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

:root {
  --square-shrink-size-units: 2.5;
  --square-size-units: 3.5;
  --square-size: calc(var(--square-size-units) * 1vh);
  --board-size: 8;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 600px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px 0;
  justify-items: center;
}

.header {
  text-align: center;
  margin: 0;
}

.options {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.game {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  touch-action: none;
  place-items: center;
  align-items: stretch;
  gap: 2vh 0;
}

.board-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}

.board {
  aspect-ratio: 1;
  height: 100%;
  width: auto;
  height: calc(8 * var(--square-size));
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  outline: 2px grey solid;
  touch-action: none;
}

.board .square {
  outline: 1px grey solid;
}

.filled {
  color: hsl(var(--hue) 100% 40%);
  background-color: currentColor;
  border: 0.8vh currentColor solid;
  border-color:
    hsl(var(--hue) 100% 65%)
    hsl(var(--hue) 100% 25%)
    hsl(var(--hue) 100% 25%)
    hsl(var(--hue) 100% 65%);
}

.user-pieces {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2vh 1vh;
  flex-direction: row;
  place-items: center;
}

.piece {
  height: 100%;
  width: 100%;
}

.piece-grid {
  width: min-content;
  margin: auto;
  display: grid;
  place-items: center;
  place-content: center;
}

.piece-grid .square {
  height: var(--square-size);
  width: var(--square-size);
  border-width: calc(var(--square-size) / 5)
}
